.match-card-list-item {
  font-family: 'Bree Serif';
  background-color: #0f172a;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
  margin-bottom: 12px;
  border-radius: 6px;
}

.match-card-img {
  height: 52px;
  width: 52px;
}

.match-card-name {
  color: #ffffff;
  font-size: 12px;
}

.match-result {
  color: #ffffff;
  font-size: 8px;
}

.match-status {
  font-size: 10px;
}

.Won {
  color: #18ed66;
}

.Lost {
  color: #e31a1a;
}
