.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  height: 100vh;
  background-size: cover;
  padding: 22px;
}

.loader-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 576px) {
  .bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}

.ipl-dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ipl-logo {
  height: 42px;
  margin-right: 12px;
}

.ipl-dashboard-heading {
  font-family: 'Bree Serif';
  color: #ffffff;
}

.team-card-list-container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
